.home-body {
    padding-top: 25px;
    height: 100%;
    background-image: url('../../assets/chatbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .floating-class {
        max-width: 85%;
        margin: auto;
    }
}