.contacts-body{
    .MuiAppBar-colorPrimary {
        background-color: #38d39f;
        .MuiToolbar-gutters {
            padding-right: 0;
        }
        .makeStyles-title-3 {
            text-align: center;
        }
    }
}